#typing-text::after {
    content: '|';
    display: inline-block;
    margin-left: 5px;
    opacity: 1;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
